@model Blog_MVC.Models.CommentPostModel

@{
    ViewData["Title"] = "CommentPost";
}

<h1>CommentPost</h1>

<h4>Write down your toughts...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.UserId)
        <form asp-action="SubmitComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Model.UserName said:
                <input asp-for="Post.Text" class="form-control" />
            </div>
            <div class="form-group">
                <b></b>
                <input asp-for="Text" class="form-control" placeholder="Tpe your reply" />
                <span asp-validation-for="Text" class="text-danger"></span><b></b>
                @Html.ActionLink("Submit your reply", "SubmitComment", "Post")<b></b>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

